<!doctype>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>WebDrop - Social file sharing at its best</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Da Pretty Files -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- JS IS EVERYWHERE -->
    <script src="http://cdn.peerjs.com/0/peer.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/hover.js"></script>
    <script src="../static/js/pretty.js"></script>
    <script>
        function updatePercent() {
            $('.file-accept').css('display', 'block');
            var test = connection.percentDone;
            var value = test;
            test = (test*100) + '%';
            console.log(test);
            $('.file-accept .pul-right').append(test);
            $('.progress .bar').css('width', test);
            if (value >= "100") {
                console.log("works");
                $('.progress').removeClass('progress-striped');
                $('.progress').addClass('progress-success');
                $('.progress .bar').text('Complete!');
            }
        }
    </script>
    <script type="text/javascript" src="../static/js/connect.js"></script>
    
</head>

<body ng-controller="MainController">

    <div class="top-login">
        <div class="container">
            <div class="row">
                <div class="span1">
                    <a href="/webdrop/"><strong>WebDrop</strong></a>
                </div>
                <div class="span9">
                    <ul>
                        <li><a href="/webdrop/send">Load Files</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">How it Works</a></li>
                    </ul>               
                </div>



                <div class="span2">
                    <span class="pull-right" style="color:gray"><i class="icon-user"></i> <a href="#">Login</a></span>
                </div>
            </div>
        </div>
    </div>

<div class="file-dl">
    <div class="container" >
    	<div class="row">
    		<div class="span12">
    			<h3>Receive Files</h3>
    			<p>Below is a list of files sent to you. You can check all of them and click download or download them individually. Once you accept them the stream from your partner will start automatically.</p>

	            <ul class="file-accept" ng-repeat="file in files">
	            	<h4>Files to Approve for Download</h4>

	            	<li>
	            		<a href="#"><i class="icon-ok"></i></a>
	            		<i class="icon-remove"></i>

	            		<span class="file-name"> Download </span> (text) 

	            		<span class="pull-right"></span>

	            		<div class="progress progress-striped active">
  							<div class="bar">Downloading</div>
						</div> 
					</li>
	            </ul>
    		</div>
    	</div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <Div class="span4">
                <p class="pull-right">Built by the <a href="http://www.buffalohackers.com" target="_blank">Buffalo Hackers</a></p>
            </Div>
        </div>
    </div>
</div>


 <!-- Da javascript's
    ================================================== -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</body>
</html>1