<!doctype>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebDrop - Social file sharing at its best</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Da Pretty Files -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  </head>

<body>

<div class="wrapper">
<div class="top-login">
    <div class="container">
        <div class="row">
            <div class="span1">
                <p><strong>WebDrop</strong></p>
            </div>
            <div class="span9">
                <a href="/upload">Share Files</a>
            </div>
            <div class="span2">
                <p class="pull-right"><i class="icon-user"></i> <a href="#">Login</a> </p>
            </div>
        </div>
    </div>
</div>

<div class="main-splash">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="message">
                    <h1>Direct Sharing Made Simple.</h1>
                    <h3>The future of file sharing is here. Faster speeds and more<br> secure than ever before.</h3>
                </div>
            </div>
            <div class="span4">
                <h5>Sign up for a Premium Account</h5>

                <div class="sign-up">
                    <form>
                        <input class="span4" type="text" placeholder="Choose a username"><br>
                        <input class="span4" type="email" placeholder="Your email"><br>               
                        <input class="span4" type="password" placeholder="Create a password"><br>
                        <input type="checkbox">
                        <lable>I agree to <a href="#">WebDrop Terms</a></lable>
                        <button class="btn btn-info" type="button">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="home-infos">
            <div class="row">
                <div class="span4">
                    <h3>Fast & Secure</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="span4">
                    <h3>No Third Parties</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="span4">
                    <h3>Totally Free</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>  
        </div>

    </div><!-- end of container -->
</div><!-- end main-splash -->
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <Div class="span4">
                <p class="pull-right">Built by the <a href="http://www.buffalohackers.com" target="_blank">Buffalo Hackers</a></p>
            </Div>
        </div>
    </div>
</div>


 <!-- Da javascript's
    ================================================== -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>
</html>