<html ng-app>
  <head>
    <script src="../static/js/jquery.js"></script>    
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/main.js"></script>
  </head>
  <body ng-controller="MainController">
    <h1>TEST FILESYSTEM API</h1>
    <div>
      <ul ng-repeat="file in files">
	<li>{{file.name}}{{file.type}}{{file.contents}}</li>
      </ul>
    </div>
    <input class="file-upload" type="file"></input>
    <div class="drag-box"
	 ondrop="console.log(event)"
	 style="width:640px;height:480;display:block;background-color:red;"></div>
  </body>
</html>
      
