<!doctype>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>WebDrop - Social file sharing at its best</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Da Pretty Files -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- JS IS EVERYWHERE -->
    <script src="http://cdn.peerjs.com/0/peer.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/hover.js"></script>
    <script type="text/javascript" src="../static/js/connect.js"></script>
    <script>
        var id = getId();
        var url = "http://www.buffalohackers.com/webdrop/" + id ;
        console.log(url);
        $(document).ready(function(){
            $('.url').append(url);
        });                
    </script>
</head>

<body ng-controller="MainController">

<div class="top-login">
    <div class="container">
        <div class="row">
            <div class="span1">
                WebDrop
            </div>
            <div class="span9">
                <ul>
                    <li><a href="/upload">Load Files</a></li>
                    <li><a href="/upload">About</a></li>
                    <li><a href="/upload">How it Works</a></li>
                </ul>               
            </div>



            <div class="span2">
                <span class="pull-right" style="color:gray"><i class="icon-user"></i> <a href="#">Login</a></span>
            </div>
        </div>
    </div>
</div>

<div class="container" >
	<div class="row">
		<div class="span12">
			<h3>Step 1: Your Personal URL</h3>
			<p>Below is the URL needed to connect to the person you're sending files. Simply give this URL to the person you would like to send files to. Once the connection is made, you will be able to send files.</p>

            <h5 class="url"></h5>

            <div class="offset3 connecting">
                <h2 class="connection-status">Waiting for Connection<span id="whoop"></span></h2>
                <p>If you haven't already, give out your url so your partner can connect.</p>
            </div>
		</div>
	</div>
</div>

<div class="container" >
    <div class="row">
        <div class="span12">
            <h3>Step 2: Send Files</h3>
            <p>Choose files you would like to sent. Once the file is selected it will automatically be sent. You can see the progress below and can cancel if neccessary.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="drag-box" ng-drop="drop()">
                <div class="reg-stage">
                    <h4>Click the button below to select files or Drag & Drop.</h4>
                    <input type="file" class="btn file-upload" type="button">Select Files</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="file-list">
                <h5>File Progress</h5>
                <ul ng-repeat="file in files">
                    <li> <div class="file-name">{{ file.name }}</div> <div class="file-type">{{ file.type }}</div> </li>
                                        <li> <div class="file-name">{{ file.name }}</div> <div class="file-type">{{ file.type }}</div> </li>

                    <li> <div class="file-name">{{ file.name }}</div> <div class="file-type">{{ file.type }}</div> </li>


                </ul>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <Div class="span4">
                <p class="pull-right">Built by the <a href="http://www.buffalohackers.com" target="_blank">Buffalo Hackers</a></p>
            </Div>
        </div>
    </div>
</div>


 <!-- Da javascript's
    ================================================== -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</body>
</html>